body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f13;
}

header {
    background-color: #004d99;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.order-form, .tracking-form {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: #004d99;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
}
